<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Add Passenger</title>
    <link crossorigin="anonymous" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
          integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" rel="stylesheet">

</head>
<body>
<h1>Tickets Left</h1>
<h1 th:text="${ticketsLeft}">Amount</h1>
<div class="form-row">
    <div class="input-group col-sm-2">
        <div class="input-group-prepend">
            <label class="input-group-text" for="selectTrain">N</label>
        </div>
        <select class="custom-select" disabled id="selectTrain">
            <option th:each="trainEntity : ${trainsList}"
                    th:selected="${trainEntity.getId() == stationFrom.getTrainId()}"
                    th:text="${trainEntity.getNumber()}" th:value="${trainEntity.getId()}"></option>
        </select>
    </div>

    <div class="input-group col-sm-2 offset-xs-1">
        <div class="form-row">
            <div class="col-sm-12">
                <input class="form-control" id="stationFromArrivalTime" readonly
                       th:value="${stationFrom.getArrivalTime()}"
                       type="text">
            </div>
        </div>
        <div class="form-row">
            <div class="col-sm-12">
                <select class="custom-select" disabled id="selectStationFrom">
                    <option th:each="stationEntity : ${stationsList}"
                            th:selected="${stationEntity.getId() == stationFrom.getStationId()}"
                            th:text="${stationEntity.getName()}" th:value="${stationEntity.getId()}"></option>
                </select>
            </div>
        </div>
        <div class="form-row">
            <div class="col-sm-12">
                <input class="form-control" id="stationFromDepartureTime" readonly
                       th:value="${stationFrom.getDepartureTime()}"
                       type="text">
            </div>
        </div>
    </div>

    <div class="col-sm-1">
        <h1>TO</h1>
    </div>

    <div class="col-sm-2 input-group offset-xs-1">
        <div class="form-row">
            <div class="col-sm-12">
                <input class="form-control" id="stationToArrivalTime" readonly th:value="${stationTo.getArrivalTime()}"
                       type="text">
            </div>
        </div>
        <div class="form-row">
            <div class="col-sm-12">
                <select class="custom-select" disabled id="selectStationTo">
                    <option th:each="stationEntity : ${stationsList}"
                            th:selected="${stationEntity.getId() == stationTo.getStationId()}"
                            th:text="${stationEntity.getName()}" th:value="${stationEntity.getId()}"></option>
                </select>
            </div>
        </div>
        <div class="form-row">
            <div class="col-sm-12">
                <input class="form-control" id="stationToDepartureTime" readonly
                       th:value="${stationTo.getDepartureTime()}"
                       type="text">
            </div>
        </div>
    </div>

    <!--    <a class="btn btn-primary" role="button"-->
    <!--       th:href="@{/sbb/registerUser/{groupId}/{lineIdFrom}/{lineIdTo}-->
    <!--    (groupId=${stationFrom.getRouteGroupId()},-->
    <!--    lineIdFrom=${stationFrom.getLineId()},-->
    <!--    lineIdTo=${stationFrom.getLineId()})}"-->
    <!--    >Register Passenger</a>-->
</div>

<form class="needs-validation" novalidate th:action="@{/sbb/buy-ticket}" th:method="POST" th:object="${ticketDetails}">
    <input th:id="groupId" th:name="groupId" th:value="${stationFrom.getRouteGroupId()}" type="hidden">
    <input th:id="lineIdFrom" th:name="lineIdFrom" th:value="${stationFrom.getLineId()}" type="hidden">
    <input th:id="lineIdTo" th:name="lineIdTo" th:value="${stationTo.getLineId()}" type="hidden">

    <div class="form-row">
        <div class="col-md-3 mb-3">
            <label for="validationCustom01">First name</label>
            <input class="form-control" id="validationCustom01" placeholder="Name" required th:field="*{name}"
                   type="text" value="Mark">
            <div class="valid-feedback">
                Looks good!
            </div>
        </div>
        <div class="col-md-3 mb-3">
            <label for="validationCustom02">Last name</label>
            <input class="form-control" id="validationCustom02" placeholder="Surname" required th:field="*{surname}"
                   type="text" value="Otto">
            <div class="valid-feedback">
                Looks good!
            </div>
        </div>
        <div class="col-md-3 mb-3">
            <label class="col-2 col-form-label" for="inputDate">Date</label>
            <div class="col-mb-2">
                <input class="form-control" id="inputDate" required th:field="*{birthdate}" th:value="2011-08-19"
                       type="date">
                <div class="invalid-feedback">
                    Please provide a valid date.
                </div>
            </div>
        </div>
        <button class="btn btn-primary" type="submit">Submit form</button>
    </div>
</form>

<script>
    // Example starter JavaScript for disabling form submissions if there are invalid fields
    (function () {
        'use strict';
        window.addEventListener('load', function () {
            // Fetch all the forms we want to apply custom Bootstrap validation styles to
            var forms = document.getElementsByClassName('needs-validation');
            // Loop over them and prevent submission
            var validation = Array.prototype.filter.call(forms, function (form) {
                form.addEventListener('submit', function (event) {
                    if (form.checkValidity() === false) {
                        event.preventDefault();
                        event.stopPropagation();
                    }
                    form.classList.add('was-validated');
                }, false);
            });
        }, false);
    })();
</script>

</body>
</html>