<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>All Trains</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
</head>
<body>
<!--<table>-->
<!--    <tr th:each="trainEntity: ${trainEntities}">-->
<!--        <td th:text="${trainEntity.getId()}"/>-->
<!--        <td th:text="${trainEntity.getName()}"/>-->
<!--        <td th:text="${trainEntity.getCapacity()}"/>-->
<!--        -->
<!--    </tr>-->
<!--</table>-->

<div th:each="trainEntity : ${trainEntities}">
    <a th:href="@{/trains/{id}(id=${trainEntity.getId()})}" th:text="${trainEntity.getName()}">train</a>
</div>
</body>
</html>