<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Add New Train</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
          integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
</head>
<body>

<form th:method="POST" th:action="@{/trains}" th:object="${train}">
    <p>
        <label for="number">Input Number</label>
        <input id="number" minlength="1" placeholder="Number" th:field="*{number}" type="text">
    </p>
    <p>
        <label for="type">Input Type</label>
        <select name="type" id="type">
            <option th:each="typeOption : ${T(com.turchinsky.enums.TrainType).values()}"
                    th:value="${typeOption.getType()}" th:text="${typeOption.getType()}"></option>
        </select>

    </p>
    <p>
        <label for="capacity">Input Capacity</label>
        <input type="number" min="0" th:field="*{capacity}" id="capacity" placeholder="Capacity">
    </p>
    <p>
        <label for="velocity">Input Velocity</label>
        <input id="velocity" min="0" placeholder="Velocity" th:field="*{velocity}" type="number">
    </p>
    <p>
        <input type="submit" value="Add Train">
    </p>
</form>

</body>
</html>