<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Train</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
</head>
<body>
<p th:text="${trainEntity.getId()}">VALUE</p>
<p th:text="${trainEntity.getName()}">VALUE</p>
<p th:text="${trainEntity.getCapacity()}">VALUE</p>
<p> <a class="btn btn-primary" th:href="@{/trains/{id}/update-train(id=${trainEntity.getId()})}" role="button">Update train</a> </p>
<!--<p> <a class="btn btn-primary" th:href="/trains/${trainEntity.getId()}/update" role="button">Change train</a></p>-->

</body>
</html>