<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Update Train</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">

</head>
<body>



<form th:method="POST" th:action="@{/trains/{id}(id=${trainEntity.getId()})}" th:object="${trainEntity}">
    <p th:text="${trainEntity.getId()}">VALUE</p>
<!--    <p th:text="${trainEntity.getName()}">VALUE</p>-->
    <p>
        <label for="number">Change Number</label>
        <input id="number" minlength="1" th:field="*{number}" th:placeholder="*{number}" type="text">
    </p>
<!--    <p th:text="${trainEntity.getCapacity()}">VALUE</p>-->

    <p>
        <label for="type">Change Type </label>
        <select name="type" id="type">
            <option th:each="typeOption : ${T(com.turchinsky.enums.TrainType).values()}"
                    th:value="${typeOption.getType()}" th:text="${typeOption.getType()}"
                    th:selected="${typeOption.getType().equals(trainEntity.getType())}">
            </option>
        </select>
    </p>

    <p>
        <label for="capacity">Change Capacity</label>
        <input type="number" min="0" th:field="*{capacity}" id="capacity" th:placeholder="*{getCapacity()}">
    </p>
    <p>
        <label for="velocity">Change Velocity</label>
        <input id="velocity" min="0" th:field="*{velocity}" th:placeholder="*{getVelocity()}" type="number">
    </p>
    <p>
        <input type="submit" value="Update Train">

    </p>
</form>

</body>
</html>