<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Delete Route</title>
    <link crossorigin="anonymous" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
          integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" rel="stylesheet">

</head>
<body>
<form th:action="@{/routes/delete}" th:method="post" th:object="${routeEntity}">
    <h1>Are you sure you want to delete This route?</h1>
    <p th:text="${routeEntity.getId()}">VALUE</p>
    <input id="id" th:field="*{id}" type="hidden">
    <p th:text="${routeEntity.getName()}">VALUE</p>
    <input id="name" th:field="*{name}" type="hidden">
    <p>
        <input class="btn btn-danger" type="submit" value="Delete anyways"/>
    </p>
</form>
</body>
</html>