<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Train</title>
    <link crossorigin="anonymous" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
          integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" rel="stylesheet">
</head>
<body>
<p th:text="${routeDetailsEntity.getRouteId()}">VALUE</p>
<p th:text="${routeDetailsEntity.getStationId()}">VALUE</p>
<p th:text="${routeDetailsEntity.getStationOrder()}">VALUE</p>
<p th:text="${routeDetailsEntity.getKm()}">VALUE</p>
<p th:text="${routeDetailsEntity.getType()}">VALUE</p>
<p><a class="btn btn-primary" role="button"
      th:href="@{/route-details/{routeId}/{stationId}/{stationOrder}/update(routeId=${routeDetailsEntity.getRouteId()}, stationId=${routeDetailsEntity.getStationId()}, stationOrder=${routeDetailsEntity.getStationOrder()})}">Update
    train</a>
    <a class="btn btn-danger" role="button"
       th:href="@{/route-details/{routeId}/{stationId}/{stationOrder}/delete(routeId=${routeDetailsEntity.getRouteId()}, stationId=${routeDetailsEntity.getStationId()}, stationOrder=${routeDetailsEntity.getStationOrder()})}">Delete
        Train</a>
</p>

</body>
</html>