<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Add New Train</title>
    <link crossorigin="anonymous" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
          integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" rel="stylesheet">
    <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
    <script src="../../../scripts/routeDetailsScript.js"></script>
    <!--    <script src="http://localhost:8080/scripts/updateKmTypeScript.js"></script>-->

</head>
<body>

<!--<script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>-->
<!--<script src="../../static/js/routeDetailsScript.js"></script>-->

<!--<form th:method="GET" th:action="@{/route-details/{routeId}(routeId=${routeDetailsEntity.getRouteId()})}" th:object="${routeDetailsEntity}">-->

<H1>Add new Route Details</H1>
<h2 th:text="${currentRouteName}"></h2>
<div class="routeDetailsIndex" th:each="routeDetailsEntity : ${routeDetailsEntities}">
    <div class="form-row my-sm-2">
        <div class="input-group col-md-2">
            <div class="input-group-prepend">
                <label class="input-group-text" for="selectStation">Station</label>
            </div>
            <select class="custom-select" disabled id="selectStation">
                <option th:each="stationEntity : ${stationsList}"
                        th:selected="${stationEntity.getId()==routeDetailsEntity.getStationId()}"
                        th:text="${stationEntity.getName()}" th:value="${stationEntity.getId()}"></option>
            </select>
        </div>
        <div class="input-group col-md-2 offset-xs-1">
            <div class="input-group-prepend">
                <label class="input-group-text" for="stationOrderInput">Order</label>
            </div>
            <input class="form-control" id="stationOrderInput" min="1" readonly
                   th:value="${routeDetailsEntity.getStationOrder()}" type="number">
        </div>
        <div class="input-group col-md-2 offset-xs-1">
            <div class="input-group-prepend">
                <label class="input-group-text" for="kmInput">Km</label>
            </div>
            <input class="form-control" id="kmInput" min="1" readonly th:value="${routeDetailsEntity.getKm()}"
                   type="number">
        </div>
        <div class="input-group col-md-2 offset-xs-1">
            <div class="input-group-prepend">
                <label class="input-group-text" for="stationTypeInput">Type</label>
            </div>
            <input class="form-control" id="stationTypeInput" min="1" readonly
                   th:value="${routeDetailsEntity.getType()}" type="number">
        </div>
        <a class="btn btn-primary" role="button"
           th:href="@{/route-details/{routeId}/{stationId}/{stationOrder}/update(routeId=${routeDetailsEntity.getRouteId()}, stationId=${routeDetailsEntity.getStationId()}, stationOrder=${routeDetailsEntity.getStationOrder()})}">Update
            This Route Detail</a>
        <a class="btn btn-danger" role="button"
           th:href="@{/route-details/{routeId}/{stationId}/{stationOrder}/delete(routeId=${routeDetailsEntity.getRouteId()}, stationId=${routeDetailsEntity.getStationId()}, stationOrder=${routeDetailsEntity.getStationOrder()})}">Delete
            This Route Detail</a>
    </div>
    <!--    <a th:href="@{/route-details/{routeId}/{stationId}/{stationOrder}(routeId=${routeDetailsEntity.getRouteId()}, stationId=${routeDetailsEntity.getStationId()}, stationOrder=${routeDetailsEntity.getStationOrder()})}"-->
    <!--       th:text="${routeDetailsEntity.getRouteId() + ' ' + routeDetailsEntity.getStationId()+ ' ' + routeDetailsEntity.getStationOrder()}">Route-->
    <!--        Station Order</a>-->
</div>

<div class="grid-container" id="tableContainer">
</div>
<h3>Add new part</h3>
<input id="routeIdHidden" th:value="${currentRouteId}" type="hidden">
<div class="form-row my-sm-2">
    <div class="input-group col-md-2">
        <div class="input-group-prepend">
            <label class="input-group-text" for="newSelectStation">Station</label>
        </div>
        <select class="custom-select" id="newSelectStation">
            <option th:each="stationEntity : ${freeStationsList}" th:text="${stationEntity.getName()}"
                    th:value="${stationEntity.getId()}"></option>
        </select>
    </div>
    <!--    <div class="input-group col-md-2 offset-xs-1">-->
    <!--        <div class="input-group-prepend">-->
    <!--            <label for="newStationOrderInput" class="input-group-text">Order</label>-->
    <!--        </div>-->
    <!--        <input class="form-control" type="number" min="1" id="newStationOrderInput">-->
    <!--    </div>-->
    <div class="input-group col-md-2 offset-xs-1">
        <div class="input-group-prepend">
            <label class="input-group-text" for="newKmInput">Km</label>
        </div>
        <input class="form-control" id="newKmInput" min="1" type="number">
    </div>
    <div class="input-group col-md-2 offset-xs-1">
        <div class="input-group-prepend">
            <label class="input-group-text" for="newStationTypeInput">Type</label>
        </div>
        <input class="form-control" id="newStationTypeInput" min="1" type="number">
    </div>
</div>

<input class="btn btn-primary" id="addDetails" type="button" value="Add new section">

</body>
</html>